<div class="container">
  <div class="form-container">
    <div class="title">Create Account</div>
    <form [formGroup]="createAccountForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="createAccountForm.controls['email'].invalid">
          {{createAccountForm.controls['email'].hasError('required') ? 'Email is require' : 'Please enter a valid email'}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="createAccountForm.controls['password'].invalid">
          {{createAccountForm.controls['password'].hasError('required') ? 'Password is require' : 'Password should be at least 6 characters long'}}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button class="login-button" mat-raised-button (click)="createAccount()"  [disabled]="createAccountForm.invalid">Create Account</button>
      <p>OR</p>
      <button routerLink="/login" mat-button>Login</button>
    </div>
  </div>
</div>
